html, body {
  margin: 0;
  height: 100%;
}

.supply, .distribution {
  fill: lightgray;
}

.region {
  fill: lightgray;
}

.bin {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.spout {
  fill: lightgray;
  stroke: black;
  stroke-width: 2;
}
