html, body {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

main {
  height: 100%;
}

button {
  display: block;
  font-size: 12pt;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border-width: 0;
  background: #e8e8e8;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  background: lightgray;
  cursor: pointer;
}

button:last-child {
  margin-bottom: 0;
}

#controls {
  position: fixed;
}

.slidden {
  box-sizing: border-box;
  margin-top: 2rem;
  position: relative;
  left: -10.5rem;
  width: 11rem;
  background: white;
  border: solid lightblue;
  border-width: 5px 5px 5px 0;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  box-shadow: 0 0 10px 1px gray;
  transition: left 0.25s ease;
}

.slidden.wide {
  width: 20rem;
  left: -19.5rem;
}

.slidden:hover {
  left: 0;
}

text {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.die {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.supply, .distribution {
  fill: lightgray;
}

.region {
  fill: lightgray;
}

.bin {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.spout path {
  fill: lightgray;
  stroke: black;
  stroke-width: 2;
}

.spout text {
  text-anchor: middle;
  fill: black;
}

.ramp {
  fill: none;
}

.shelf {
  stroke: gray;
}

.penny-path {
  fill: none;
  stroke: none;
}

.graph rect {
  fill: white;
  opacity: 0.95;
}

.graph text {
  text-anchor: middle;
}

.graph text.title {
  font-size: 50pt;
  fill: lightgray;
}

.graph .axis {
  stroke: gray;
  stroke-width: 2;
}

.penny {
  stroke: black;
}

.tracer {
  fill: black;
}

.averaging .history {
  opacity: 0;
}

text.history, text.average {
  fill: black;
}

.history {
  fill: none;
  stroke-width: 2;
}

.average {
  fill: none;
  stroke-width: 2;
}

.graph .label {
  font-size: 16pt;
  text-anchor: start;
}

.stroke.outline {
  stroke: white;
  fill: none;
  stroke-width: 5;
}

.productivity-high .spout path { fill: lightgreen; }
.productivity-constrained .spout path { fill: lightblue; }

.red .fill, .red.fill       { fill: red; }
.green .fill, .green.fill   { fill: limegreen; }
.blue .fill, .blue.fill     { fill: dodgerblue; }
.purple .fill, .purple.fill { fill: violet; }

.red .stroke, .red.stroke       { stroke: red; }
.green .stroke, .green.stroke   { stroke: limegreen; }
.blue .stroke, .blue.stroke     { stroke: dodgerblue; }
.purple .stroke, .purple.stroke { stroke: violet; }
