html, body {
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
}

.die {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.supply, .distribution {
  fill: lightgray;
}

.region {
  fill: lightgray;
}

.bin {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.spout {
  fill: lightgray;
  stroke: black;
  stroke-width: 2;
}

.shelf {
  stroke: gray;
}

.penny-path {
  fill: none;
  stroke: none;
}

.penny {
  fill: red;
  stroke: black;
}
